<ng-container *ngIf="offers$ | async as offers">
<!--  <div class="row" *ngFor="let item of data.offers">-->
<!--    <div class="col">{{item.sellerName}}</div>-->
<!--  </div>-->

  <table class="table table-bordered">
    <tbody>
      <tr *ngFor="let item of offers">
        <td>{{item.price}}</td>
        <td>{{item.priceRaw}}</td>
        <td>{{item.currency}}</td>
        <td>{{item.sellerName}}</td>
        <td>{{item.sellerRating}}</td>
        <td>{{item.sellerPositivePercent}}</td>
        <td>{{item.condition}}</td>
        <td>{{item.conditionRaw}}</td>
        <td>{{item.conditionComment}}</td>
        <td>{{item.ratingCount}}</td>
        <td>{{item.prime}}</td>
        <td>{{item.type}}</td>
        <td>{{item.sellerId}}</td>
        <td>{{item.asin}}</td>
        <td>{{item.stockQuantity}}</td>
        <td>{{item.limit}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
